.bgcolor-madisa{
    background: rgb(27, 82, 184) !important;
    color: white;
}

.mt-5 {
    margin-top:5em;
}

.mt-10{
    margin-top: 10em;
}

nav{
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(219,219,219,1) 65%, rgba(163,163,163,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,240,240,1)), color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(235,235,235,1)), color-stop(65%, rgba(219,219,219,1)), color-stop(100%, rgba(163,163,163,1)));
    background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(219,219,219,1) 65%, rgba(163,163,163,1) 100%);
    background: -o-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(219,219,219,1) 65%, rgba(163,163,163,1) 100%);
    background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(219,219,219,1) 65%, rgba(163,163,163,1) 100%);
    background: linear-gradient(to bottom, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 0%, rgba(235,235,235,1) 0%, rgba(219,219,219,1) 65%, rgba(163,163,163,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#a3a3a3', GradientType=0 );
    
}

nav li a {
    color:rgb(27, 82, 184) !important;
}

.dropdown-item:hover {
    background-color:rgba(27, 82, 184, 0.226) !important;
    
}

